@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Diplom_WebSite_Taras.Areas.Admin.Models.ProductItemViewModel>

@{
    ViewBag.Title = "Home Page";
    string imagePath = Url.Content("~/Upload/UserImages/");
}

<div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="mainmenu pull-left">
                    <ul class="nav navbar-nav collapse navbar-collapse">

                        <li>@Html.ActionLink("Домашня сторінка", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li class="dropdown">
                            <a href="#">Магазин<i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="~/Home/">Усі товари</a></li>                                
                                <li><a href="~/Cart/">Кошик</a></li>                                
                            </ul>
                        </li>                                            
                        <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Про нас", "About", "Home")</li>
                        
                    </ul>
                    <p>
                        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                        {
                            <span>Назва товару:</span> 
                            @Html.TextBox("search", ViewBag.CurrentFilter as string)
                                <input type = "submit" value = "Пошук" />
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><!--/header-bottom-->

<div class="container">
    <div class="nav navbar-nav collapse navbar-collapse">
        <div class="row">
            <div class="col-sm-11">
                            
            </div>

        </div>
    </div>
</div>
<div class="container">
   
<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>Інтернет-магазин "Пір'їнка"</span></h1>
                                <h2>Онлайн-магазин постільної білизни</h2>
                                <p>Безкоштовна доставка товарів на суму від 500 грн.! </p>
                                @Html.ActionLink("Докладніше", "FreeDelivery500", "Home", new { area = "" }, new { @class = "btn btn-primary" })
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/free-delivery.jpg" class="girl img-responsive" alt="" />
                                                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Інтернет-магазин "Пір'їнка"</span></h1>
                                <h2>Гарантія - 2 роки на всі матраси.</h2>
                                <p>Гарантовано даємо додатковий рік гарантії на всі матраси.</p>
                                @Html.ActionLink("Докладніше", "Warranty", "Home", new { area = "" }, new { @class = "btn btn-primary" })
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/Warranty.jpg" class="girl img-responsive" alt="" />
                                
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Інтернет-магазин "Пір'їнка"</span></h1>
                                <h2>Оплата частинами без переплат</h2>
                                <p>Оплати товар частина від Приватбанку.</p>
                                @Html.ActionLink("Докладніше", "Oplata", "Home", new { area = "" }, new { @class = "btn btn-primary" })
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/oplata.jpg" class="girl img-responsive" alt="" />
                                
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Категорії</h2>
                    <div class="panel-group category-products" id="accordian">                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="?category=1">Подушки</a></h3>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="?category=2">Наволочки</a></h3>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="?category=3">Матраци</a></h3>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="?category=4">Пледи</a></h3>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="?category=5">Наматрасники</a></h3>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="?category=6">Ковдри</a></h3>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="?category=7">Рушники</a></h3>
                            </div>
                        </div>
                    </div><!--/category-products-->

                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Виробники</h2>
                        <div class="brands-name">                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="?producer=1">"Айстра", ТОВ</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="?producer=2">"Конвалія", ТОВ</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="?producer=3">"Лагідні сни", ВАТ</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="?producer=4">"МЛС", ПМП</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="?producer=5">"Подушечка", ТОВ</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="?producer=6">"Солодкі сни", ТОВ</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="?producer=7">"Українські рушники", ВАТ</a></h4>
                                </div>
                            </div>
                        </div>
                    </div><!--/brands_products-->                   

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">

                    <!--features_items-->
                    <h2 class="title text-center">Продукти</h2>
                @foreach (var item in Model)
                {                    
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    
                                    <img src="@string.Format("{0}{1}",@imagePath,@item.Image)" width="193" height="260" alt="" />
                                    
                                    <h2>Ціна: @Html.DisplayFor(modelItem => item.Price) грн.</h2>
                                    <h4>Назва: @Html.DisplayFor(modelItem => item.Name)</h4>
                                    <h4>Категорія: @Html.DisplayFor(modelItem => item.CategoryName)</h4>
                                    <p>Опис товару: @Html.DisplayFor(modelItem => item.Description)</p>
                                    
                                    @Html.ActionLink("Купити", "ProductDetails", new { id = item.Id }, new { @class = "btn btn-primary" })
                                    
                                   
                                </div>
                                <div class="product-overlay" id="listPayProduct">
                                    <div class="overlay-content">
                                        <h2>Ціна: @Html.DisplayFor(modelItem => item.Price) грн.</h2>
                                        <h3>Назва товару: @Html.DisplayFor(modelItem => item.Name)</h3>
                                        
                                        @Html.ActionLink("Купити", "ProductDetails", new { id = item.Id }, new { @class = "btn btn-default add-to-cart"})
                                    </div>
                                </div>
                            </div>                          
                            
                        </div>
                    </div>                    
              }
                </div><!--features_items-->
                <div class="text-center">
                    Сторінка @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

                    </div>

                </div>
        </div>
    </div>
</section>
