@model Diplom_WebSite_Taras.Areas.Admin.Models.ProductItemViewModel

@{
    ViewBag.Title = "ProductDetails";
    string imagePath = Url.Content("~/Upload/UserImages/");
    
}

<section>
    <div class="container">
        
        <div class="row">           
                       
                <div class="col-sm-9 padding-right">
                    <div class="product-details">
                        <!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img src="@imagePath+@Html.DisplayFor(model => model.Image)" alt="" />
                                <img src="@string.Format("{0}{1}",@imagePath, @Html.DisplayFor(model => model.Image))" alt="" />

                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information">
                                <!--/product-information-->
                                <img src="/images/product-details/new.jpg" class="newarrival" alt="" />
                                <h2>@Html.DisplayFor(model => model.Name)</h2>
                                <h3>Категорія: @Html.DisplayFor(model => model.CategoryName)</h3>
                                <p>Код продукту (ID): @Html.DisplayFor(model => model.Id)</p>
                                <span>
                                    <span>@Html.DisplayFor(model => model.Price) грн.</span>

                                    @using (Html.BeginForm("AddToCart", "Cart"))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.DropDownList("quantity", Enumerable.Range(1, (int)Model.Quantity).Select(i => new
                                SelectListItem
                               { Text = i.ToString(), Value = i.ToString() }))
                                        <input type="submit" class="btn btn-primary" value="+">
                                    }
                                </span>
                                <br />
                                <p><b>Наявність: В наявності @Html.DisplayFor(model => model.Quantity) штук(и)</b></p>

                                <p><b>Виробник:</b> @Html.DisplayFor(model => model.ProducerName)</p>
                                <p><b>Опис товару:</b> @Html.DisplayFor(model => model.Description)</p>
                                <p>

                                    @Html.ActionLink("Повернутися назад до вибору товарів", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
                                </p>
                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->                    
        </div>
   </div>
        </div>

</section>


        
