@model Diplom_WebSite_Taras.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Реєстрація";
}
<h2>@ViewBag.Title.</h2>
<h3>Підвяжіть Ваш аккаунт @ViewBag.LoginProvider до сайту.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Форма асоціації аккаунту.</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Ви були успішно асоційовані з аккаунтом <strong>@ViewBag.LoginProvider</strong>.
        Будь-ласка, введіть Ваш логін у форму нижче і натисніть кнопку "Зареєструватися", щоб залогінитися на сайті.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Зареєструватися" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
