@model Diplom_WebSite_Taras.Models.CartViewModel

@{
    ViewBag.Title = "Ваш кошик";
}

<h2>@ViewBag.Title</h2>
@if (Model.CartLines.Count() > 0)
{
    <div>
        @using (Html.BeginForm("UpdateCart", "Cart"))
        {
            @Html.AntiForgeryToken();
            <input class="btn btn-sm btn-success" type="submit" value="Оновити кошик" />
            <hr />
            <div class="row">
                <div class="col-md-4"><label>Позиція</label></div>
                <div class="col-md-3"><label>Кількість</label></div>
                <div class="col-md-1"><label>Ціна</label></div>
                <div class="col-md-1"><label>Підсумок</label></div>
            </div>
            <hr />
            for (int i = 0; i < Model.CartLines.Count; i++)
            {
                <div class="row">
                    <div class="col-md-4">
                        @Html.ActionLink(Model.CartLines[i].Product.Name, "ProductDetails", "Products", new { id = Model.CartLines[i].ProductId }, null)<br />
                        @if (Model.CartLines[i].Product != null)
                        {
                            <a href="@Url.Action("ProductDetails", "Home", new { id = Model.CartLines[i].ProductId })"></a>
                        }
                    </div>
                    <div class="col-md-3">
                        @Html.HiddenFor(productID => Model.CartLines[i].ProductId)
                        @Html.TextBoxFor(quantity => Model.CartLines[i].Quantity)
                        <p>
                            @Html.ValidationMessageFor(quantity => Model.CartLines[i].Quantity, "", new { @class = "text-danger" })
                        </p>
                    </div>
                    <div class="col-md-1">
                        @Html.DisplayFor(price => Model.CartLines[i].Product.Price)
                    </div>
                    <div class="col-md-1">
                        @((Model.CartLines[i].Quantity * Model.CartLines[i].Product.Price).ToString("c"))
                    </div>
                    <div class="col-md-1">
                        @Html.ActionLink("Видалити позицію", "RemoveLine", "Cart", new { id = Model.CartLines[i].Product.Id }, new { @class = "btn btn-danger" })
                       
                    </div>
                </div>
                <hr />
            }
        }
        <div class="row">
            <div class="col-md-8">
                @Html.DisplayNameFor(model => model.TotalCost)
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(model => model.TotalCost)
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Оформити замовлення", "Review", "Order", new { area = "Admin" }, new {@class = "btn btn-sm btn-success" })
            </div>
        </div>
    </div>
}
else
{
    <span>
        На жаль, Ваш кошик порожній, але Ви все ще можете @Html.ActionLink("вибрати собі необхідний товар для покупки.", "Index", "Home")
    </span>
}
<div>   
    @Html.ActionLink("Продовжити покупки", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
