<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Головна | "Пір'їнка"</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/price-range.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                              
                                <li>@Html.ActionLink("Про нас", "About", "Home")</li>
                                <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <li>@Html.ActionLink("Адмінка", "Index", "Home", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Користувачі та ролі", "Index", "AdminUserRole")</li>
                                    <li>@Html.ActionLink("Перегляд замовлень", "Index", "Order", new { area = "Admin" }, null)</li>
                                }
                                                        
                            </ul>
                           
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><p>Телефон для запитань: +38(067)621-95-39</p></li>                               
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            
                            @Html.ActionLink("Інтернет-магазин ПІР'ЇНКА", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" } )
                            <a href="~/Home/"><img src="~/images/home/plumelet0.jpg" alt="" /></a>                           
                        </div>
                       
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">                               
                                                                                      
                                <li>@Html.Action("Summary", "Cart")</li>
                                
                            </ul>
                            
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!--/header-->    

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer id="footer">
                    <!--Footer-->
                    <div class="footer-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="companyinfo">
                                        <h2><span>Пір'їнка</span></h2>
                                        <h4>Інтернет-магазин</h4>
                                        <p>Затишне місце, де Ви завжди зможете підібрати собі найкращу постільну білизну.</p>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="col-sm-3">
                                        <div class="video-gallery text-center">
                                            <a href="#">
                                                <div class="iframe-img">
                                                    <img src="/images/home/iframe1.png" alt="" />
                                                </div>
                                                <div class="overlay-icon">
                                                    <i class="fa fa-play-circle-o"></i>
                                                </div>
                                            </a>
                                            <h2>Великий вибір товарів.</h2>
                                            <p>Постійне оновлення асортименту</p>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="video-gallery text-center">
                                            <a href="#">
                                                <div class="iframe-img">
                                                    <img src="/images/home/iframe2.png" alt="" />
                                                </div>
                                                <div class="overlay-icon">
                                                    <i class="fa fa-play-circle-o"></i>
                                                </div>
                                            </a>
                                            <h2>Швидка доставка поштою.</h2>
                                            <p>Відправляємо в день замовлення.</p>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="video-gallery text-center">
                                            <a href="#">
                                                <div class="iframe-img">
                                                    <img src="/images/home/iframe3.png" alt="" />
                                                </div>
                                                <div class="overlay-icon">
                                                    <i class="fa fa-play-circle-o"></i>
                                                </div>
                                            </a>
                                            <h2>У нас завжди якісний товар.</h2>
                                            <p>Вся продукція сертифікована.</p>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="video-gallery text-center">
                                            <a href="#">
                                                <div class="iframe-img">
                                                    <img src="/images/home/iframe4.png" alt="" />
                                                </div>
                                                <div class="overlay-icon">
                                                    <i class="fa fa-play-circle-o"></i>
                                                </div>
                                            </a>
                                            <h2>Повернення товару протягом 14 днів після покупки.</h2>
                                            <p>Гарантія на товар від 1 року.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="address">
                                        <img src="/images/home/map.png" alt="" />
                                        <p>33027, УКРАЇНА, м. Рівне, вул. Буковинська, 5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-widget">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="single-widget">
                                        <h2>Реєстрація</h2>                                        
                                        <ul class="nav nav-pills nav-stacked">
                                            <li>@Html.ActionLink("Зареєтруватися", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                            <li>@Html.ActionLink("Увійти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>                                         
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="single-widget">
                                        <h2>Умови замовлення і доставки</h2>
                                        <ul class="nav nav-pills nav-stacked">
                                            <li>@Html.ActionLink("Доставка і оплата", "Dostavka", "Home", new { area = "" })</li>
                                            <li>@Html.ActionLink("Як замовити товар", "Zamovlennya", "Home", new { area = "" })</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="single-widget">
                                        <h2>Гарантійні зобов'язання</h2>
                                        <ul class="nav nav-pills nav-stacked">
                                            <li>@Html.ActionLink("Умови обміну, чи повернення товару", "Obmin", "Home", new { area = "" })</li>
                                            <li>@Html.ActionLink("Як обміняти, чи поміняти товар", "HowToReturn", "Home", new { area = "" })</li>
                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="single-widget">
                                        <h2>Про магазин:</h2>
                                        <ul class="nav nav-pills nav-stacked">
                                            <li>@Html.ActionLink("Про нас", "About", "Home")</li>
                                            <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-sm-offset-1">
                                    <div class="single-widget">
                                        <h2>Про наш магазин:</h2>
                                       <h4>Ми - це невеличкий затишний магазин постелі і супутніх товарів.</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <p class="pull-left">Copyright © 2018 Kurylovych Com. All rights reserved.</p>
                                <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
                            </div>
                        </div>
                    </div>
                </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/price-range.js"></script>
    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/js/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/js/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
</body>
</html>

