@model Diplom_WebSite_Taras.Areas.Admin.Models.ProductItemViewModel

@{
    ViewBag.Title = "Детально про продукт";
    string imagePath = Url.Content("~/Upload/UserImages/");
}

<h2>Детально про продукт</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProducerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProducerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>    
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>    
 
    </dl>
    <div>
        <img src="@string.Format("{0}{1}",@imagePath, @Html.DisplayFor(model => model.Image))" width="57" height="78" alt="" />
    </div>
</div>
<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Змінити", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Повернутися до адмін-панелі", "Index", new { @class = "btn btn-success" })
    }
    @Html.ActionLink("Повернутися на головну", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
    
</p>
