@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Diplom_WebSite_Taras.Areas.Admin.Models.ProductItemViewModel>

@{
    ViewBag.Title = "Продукти";
    string imagePath = Url.Content("~/Upload/UserImages/");
}

<h2>Продукти</h2>

<p>
    @Html.ActionLink("Створити новий продукт", "Create", null, new { @class = "btn btn-success btn-large" })
</p>

<p>
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
        <span>Назва товару:</span>
        @Html.TextBox("search", ViewBag.CurrentFilter as string)
        <input type="submit" value="Пошук" />
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProducerName)
        </th>       
        <th></th>
    </tr>
      

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@string.Format("{0}{1}",@imagePath,@item.Image)" width="57" height="78" alt="" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProducerName)
        </td>
        <td>
            @Html.ActionLink("Змінити", "Edit", new { id=item.Id }, new { @class = "btn btn-success btn-large" }) 
            @Html.ActionLink("Детально", "Details", new { id=item.Id }, new { @class = "btn btn-info btn-large" }) 
            @Html.ActionLink("Видалити", "Delete", new { id=item.Id }, new { @class = "btn btn-warning btn-large" })
        </td>
    </tr>
    }
    
</table>

<div class="text-center">
    Сторінка @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
   </div>

